body{
    background:no-repeat, radial-gradient(red, rgb(75, 18, 14), rgb(44, 6, 4));
    color: white;
    font-family: "Times New Roman", Times, serif;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.box{
    background: radial-gradient(red, rgb(75, 18, 14), rgb(44, 6, 4));
    height: 100vw;
    width: 100vw;
}
.nav-bar{
    background-color: grey;
}

.nav-link{
    margin: 20px;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
}
.container{
    text-align: center;
    margin-top: 50px;
}