body{
    background-color: rgb(53, 13, 13);
    color: white;
}
.nav-bar{
    background-color: grey;
}

.nav-link{
    margin: 20px;
    color: white
}
.container{
    padding: 20;
    margin-top: 50px;
}
img{
    height: 400px;
    border-radius: 250px;
}
.title{
    text-align: center;
    margin-top: 20px;
}