body{
    background-image: radial-gradient(red, rgb(75, 18, 14), rgb(44, 6, 4));
    color: white;
    font-family: "Times New Roman", Times, serif;
}
.nav-bar{
    background-color: grey;
}

.nav-link{
    margin: 20px;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
}
.container{
    padding: 20;
    margin-top: 50px;
}
img{
    height: 400px;
    border-radius: 250px;
}
.title{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}